* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    margin-top: 55px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    text-shadow:  4px 4px 4px white;
}

nav ul a {
    color: white;
}

.box__perent {
    background: url(img/img\ 2\ \(3\).png) no-repeat center /cover;
    height: 150vh;
}

h2 {
    display: flex;
    width: 602px;
    height: 75px;   
    border-radius: 30px;
    border: 1px solid white;
    color: #000;
    background-color: white; 
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.green {
    width: 237px;
    height: 209px;
    background-color: green;
}

.red {
    width: 237px;
    height: 209px;
    background-color: red;
    position: absolute;
    top: 170px;
    left: 140px;
}

.red, .green  {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px 4px #ffffff;
}

.redtwo {
    left: auto;
    right: 140px;
}

.box__position {
    display: flex;
    align-items: center;
    height: 800px;
    position: relative;
    justify-content: space-between;
    margin-top: 50px;
}

.redtree {
    left: auto;
    right: 390px;
    width: 411px;
    border-radius: 100px;
}

.other h2{
display: flex  ;
font-weight: 700;
font-size: 64px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
width: 602px;
height: 75px;
border-radius: 30px;
background-color: #FFFFFF;
box-shadow: 16px 18px 28px #FFFFFF40;
margin: auto;
}

.div{
    background-color: #7B2525;
    display: flex;
    justify-content: space-between;
}



.parent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.div__boxes{
    background-color: #7B2525;
    width: 368px;
height: 332px;


}

.parent h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-shadow: 4px 4px 7.4px #FFFFFF;
    color: #FFFFFF;
}

.p{
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}

.multi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-align: center;
}

.one img{
    width: 336px;
    height: 106px;
}

.two img{
    width: 312px;
    height: 193px;
}

.perent__box {
    display: flex;
}

.static {
    display: flex;
    background-color: #7B2525;
    flex-direction: column;
    width: 368px;
    height: 332px;
    margin: auto;
    margin-top: 127px;
}

.Relative {
    display: flex;
    background-color: #7B2525;
    flex-direction: column;
    width: 368px;
    height: 332px;
    margin: auto;
    margin-top: 127px;
}

.Obsolute {
    display: flex;
    background-color: #7B2525;
    flex-direction: column;
    width: 368px;
    height: 332px;
    margin: 0 auto;
    margin-top: 127px;
}

.perent__box-p {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    margin: auto;
    color: white;
}

.static__h2 {
    display: flex;
    width: 265px;
    height: 96px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border:  none;
}

.img__btn {
    display: flex;
    width: 336px;
    height: 106px;
    margin: auto;
}

.img__btn2 {
    display: flex;
    width: 312px;
    height: 193px;
    margin: auto;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
}

.nav2 ul {
    display: flex;
    align-items: center;
    gap: 30px;
    text-shadow:  4px 4px 4px white;
}

.nav2 ul a {
    color: white;
}